
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Peck Chat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="chat_portal.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>
<body onload= "setup()">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="submission-form.html"><h1>Peck Chat</h1></a>
  
  <!-- Links -->
</nav>

<div class="messaging">
  <div class="inbox_msg">
  <div class="inbox_people">
    <div class="headind_srch">
    <div class="recent_heading">
      <h4>Recent</h4>
    </div>
    <div class="srch_bar">
      <div class="stylish-input-group">
      <input type="text" class="search-bar"  placeholder="Search" >
      </div>
    </div>
    </div>
    <div class="inbox_chat scroll" id="inbox_chat">

    </div>
  </div>
  <div class="mesgs">
    <div class="msg_history">
    <div class="incoming_msg">
      <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="Spencer"> </div>
      <div class="received_msg">
      <div class="received_withd_msg">
        <span class="time_date">Spencer</span>
        <p>Test which is a new approach to have all
        solutions</p>
        <span class="time_date"> 11:01 AM    |    June 9</span></div>
      </div>
    </div>
    <div class="outgoing_msg">
      <div class="sent_msg">
      <p>Test which is a new approach to have all
        solutions</p>
      <span class="time_date"> 11:01 AM    |    June 9</span> </div>
    </div>
    <div class="incoming_msg">
      <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="Spencer"> </div>
      <div class="received_msg">
      <div class="received_withd_msg">
        <span class="time_date">Spencer</span>
        <p>Test, which is a new approach to have</p>
        <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
      </div>
    </div>
    <div class="outgoing_msg">
      <div class="sent_msg">
      <p>Apollo University, Delhi, India Test</p>
      <span class="time_date"> 11:01 AM    |    Today</span> </div>
    </div>
    <div class="incoming_msg">
      <div class="incoming_msg_img"> <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/27858138_1593774910707182_2748145206093582840_n.jpg?_nc_cat=109&_nc_ht=scontent-sea1-1.xx&oh=cdd39565451e09589f37cf9fb98cdeca&oe=5D1FC48C" alt="Spencer"> </div>
      <div class="received_msg">
      <div class="received_withd_msg">
        <span class="time_date">Spencer</span>
        <p>We work directly with our designers and suppliers,
        and sell direct to you, which means quality, exclusive
        products, at a price anyone can afford.</p>
        <span class="time_date"> 11:01 AM    |    Today</span></div>
      </div>
    </div>
    </div>
    <div class="type_msg">
    <div class="input_msg_write">
      <input type="text" class="write_msg" placeholder="Type a message" />
      <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
    </div>
  </div>
  </div>
</div>
<script src="server_client.js"></script>

</body>
</html>